html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.div-left{
    height: 100%;
    border:1px solid black;
    background-image: url('img/menucaras.gif') 
}

.div-central{
    width: 100%;
    border:1px solid black;
    height: 300px;
}

.container-central-superior{
    height: 300px;
    
    border: 1px solid black;
}

.container-central-inferior{
    height: 100%;
    overflow: auto;
}

.efectomenu:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    }


